@if (loading) {
    <lib-ffsj-spinner
        [fullscreen]="true"
    ></lib-ffsj-spinner>
} @else if (scanQRMode) {
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <button (click)="scanQRMode = false">Stop Scanning</button>
    <span>
        Resultado - {{qrResultStringDecoded}}
    </span>
} @else {
    <div class="container">
        <div class="d-flex">
            <button class="btn btn-primary btn-foc-naranja w-100 mb-3" (click)="loadAsistencia()">
                Refrescar
            </button>
            <button class="btn btn-primary btn-foc-naranja w-100 mb-3" (click)="scanQRMode = true">
                Escanear QR
            </button>
        </div>
        <div class="d-flex flex-column gap-2">
            @for (item of asistencias; track $index) {
                @if (item.confirmadoPorUsuario) {
                    <div class="card">
                        <div class="d-flex align-items-center justify-content-between card-header btn btn-primary btn-foc-salmon" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#asistencia' + $index">
                            <span class="h4 mb-0">
                                {{item.nombre | titlecase}} {{item.apellidos | titlecase}}
                            </span>
                            @if(item.confirmadoPorSecretaria) {
                                <button class="btn btn-danger" (click)="confirmarAsistencia(item)">
                                    Borrar
                                </button>
                            } @else {
                                <button class="btn btn-primary" (click)="confirmarAsistencia(item)">
                                    Confirmar
                                </button>
                            }
                        </div>
                        <div id="asistencia{{$index}}" class="collapse card-body">
                            <p>NIF: {{item.nif}}</p>
                            @if (item.delegado) {
                                <p>Asistencia delegada</p>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}