<div class="container d-flex flex-column">
    <h1 mat-dialog-title>Autorizar usuario</h1>
    <span class="h3">
        Datos del usuario
    </span>
    <span>
        <strong>Nombre:</strong> {{data.asistencia.nombre}} {{data.asistencia.apellidos}}
    </span>
    <span>
        Cargo: {{cargo}}
    </span>
    <span class="h6 mt-2">
        Selecciona la consulta que deseas autorizar para el usuario
    </span>
    <div mat-dialog-content>
        @for (consulta of data.consultas; track consulta; let i = $index) {
            <mat-checkbox (change)="processConsulta(consulta)">
                {{consulta.titulo}}
            </mat-checkbox>
        }
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-button (click)="onConfirm()">Confirmar</button>
    </div>
</div>