@if(loading) {
    <lib-ffsj-spinner></lib-ffsj-spinner>
} @else {
    <div class="container pt-2">
        <span class="h4">
            Para poder acceder a la votación de la asamblea, por favor, selecciona qué votación deseas realizar.
        </span>
    
        @for (votacion of consultas; track $index) {
            <div class="card my-3">
                <div class="card-body">
                    <span class="h3">
                        {{ votacion.titulo }}
                    </span>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{ votacion.fecha | date:'dd/MM/yyyy'}}</p>
                        <button class="btn btn-primary btn-foc-rojo px-4" (click)="goToVotacion(votacion)">
                            Votar
                        </button>
                    </div>
                </div>
            </div>
        } @empty {
            <div class="alert alert-warning" role="alert">
                No hay votaciones disponibles.
            </div>
        }
    
    </div>
}