<div class="tab-bar text-light background-rojo p-3">
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/asistencia')">
        <i class="bi bi-person-fill me-2" style="font-size: 1.5rem;"></i>
        <span>Asistencia</span>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/documentos')">
        <i class="bi bi-file-earmark-text-fill me-2" style="font-size: 1.5rem;"></i>
        <span>Documentación</span>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/votaciones')">
        <i class="bi bi-envelope-paper-fill me-2" style="font-size: 1.5rem;"></i>
        <span>Votaciones</span>
    </div>
</div>