@if (loading) {
    <lib-ffsj-spinner
        [fullscreen]="true"
    ></lib-ffsj-spinner>
}@else {
    @if (mostrarFormulario) {
        <form [formGroup]="votacionForm">
            <div class="d-flex flex-column gap-2 scrollable my-3">
        
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="number" formControlName="id" class="form-control" isDisabled>
                </div>
        
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" formControlName="fecha" class="form-control">
                </div>
        
                <div class="form-group">
                    <label for="infoExtra">Información Extra:</label>
                    <input type="text" formControlName="infoExtra" class="form-control">
                </div>
        
                <div class="form-group">
                    <label for="favor">Votos a Favor:</label>
                    <input type="number" formControlName="favor" class="form-control">
                </div>
        
                <div class="form-group">
                    <label for="contra">Votos en Contra:</label>
                    <input type="number" formControlName="contra" class="form-control">
                </div>
        
                <div class="form-group">
                    <label for="blanco">Votos en Blanco:</label>
                    <input type="number" formControlName="blanco" class="form-control">
                </div>
        
            </div>
        </form>
        
        <div class="d-flex justify-content-between mt-5">
            <button class="btn btn-primary btn-foc-rojo" style="width: 120px;" (click)="procesar()">
                Confirmar
            </button>

            @if (votacionSeleccionada) {
                <button class="btn btn-primary btn-foc-rojo" style="width: 120px;" (click)="borrarItem()">
                    Eliminar
                </button>
            }
        </div>
    }@else {
        <div class="position-fixed" style="top: 70px; right: 12px;">
            <button class="btn btn-primary" (click)="mostrarFormularioAction(true)">
                <i class="bi bi-plus-circle me-2" style="font-size: 1rem;"></i>
                <span>Nuevo</span>
            </button>
        </div>
        <div class="d-flex flex-column">
            <span class="h5">
                @if (punto) {
                    Votaciones asociados al punto {{punto.titulo}}
                } @else {
                    Votaciones asociados al nuevo punto
                }
            </span>
            @for (votacion of votaciones; track $index) {
                <div class="card my-3" (click)="mostrarFormularioAction(true, votacion)">
                    <div class="card-header">
                        <span class="h4">
                            {{$index+1}} - {{ votacion.infoExtra }}
                        </span>
                    </div>
                </div>
            }@empty {
                <div class="alert alert-info" role="alert">
                    No hay votaciones para mostrar en este pleno.
                </div>
            }
        </div>
    }
}