@if (loading) {
  <lib-ffsj-spinner
    [fullscreen]="true"
  ></lib-ffsj-spinner>
} @else {
  @switch (formShow) {
    @case ('pleno') {
      <button class="btn btn-primary btn-foc-rojo" (click)="back.emit()">
        <i class="bi bi-chevron-left"></i>
        <span>
            Volver
        </span>
      </button>
      <form [formGroup]="plenoForm">
          <div class="d-flex flex-column gap-2 scrollable my-3">
      
              <div class="form-group">
                <label for="id">ID:</label>
                <input type="number" formControlName="id" class="form-control" isDisabled>
              </div>
              
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="datetime-local" formControlName="fecha" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" formControlName="titulo" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="informacionExtra">Información Extra:</label>
                <input type="text" formControlName="informacion_extra" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="firma">Firma:</label>
                <input type="text" formControlName="firma" class="form-control">
              </div>
      
              <button class="btn btn-primary btn-foc-naranja" (click)="formShow = 'ordenDelDia'">
                Orden del día
              </button>
      
              <button class="btn btn-primary btn-foc-naranja" (click)="formShow = 'consultas'">
                Consultas asociadas
              </button>

              <button class="btn btn-primary btn-foc-naranja" (click)="formShow = 'asistentes'">
                Asistentes del pleno
              </button>

              <button class="btn btn-primary btn-foc-naranja" (click)="router.navigateByUrl('/gestor-asistencia')">
                Confirmación de asistentes
              </button>
              
              @if (pleno) {
                <button class="btn btn-primary btn-foc-rojo mt-3" (click)="procesar()">
                    Editar
                </button>
              } @else {
                <button class="btn btn-primary btn-foc-rojo mt-3" (click)="procesar()">
                  Crear
                </button>
              }
      
          </div>
      
      </form>
    }
    @case ('ordenDelDia') {
      @if (mostrarFormulario) {
        <div class="position-fixed" style="top: 70px; right: 12px;">
            <button class="btn btn-primary btn-foc-rojo" (click)="mostrarFormularioAction(false)">
                <i class="bi bi-x-lg me-2" style="font-size: 1rem;"></i>
                <span>Cerrar</span>
            </button>
        </div>
        <app-formulario-punto-del-dia
            [pleno]="pleno"
            [puntoOrdenDelDia]="puntoSeleccionado"
            (back)="mostrarFormularioAction(false)"
        ></app-formulario-punto-del-dia>
    } @else {
        <button class="btn btn-primary btn-foc-rojo" (click)="formShow = 'pleno'">
            <i class="bi bi-chevron-left"></i>
            <span>
                Volver
            </span>
        </button>
        <div class="position-fixed" style="top: 70px; right: 12px;">
            <button class="btn btn-primary btn-foc-naranja" (click)="mostrarFormularioAction(true)">
                <i class="bi bi-plus-circle me-2" style="font-size: 1rem;"></i>
                <span>Nuevo</span>
            </button>
        </div>
        <div class="d-flex flex-column">
            @if (puntosOrdenDelDia.length > 0) {
                <span class="h5">
                    Puntos del orden del día
                </span>
            }
            @for (punto of puntosOrdenDelDia; track $index) {
                <div class="card my-3" (click)="mostrarFormularioAction(true, punto)">
                    <div class="card-header">
                        <span class="h4">
                            {{$index+1}} - {{ punto.titulo }}
                        </span>
                    </div>
                </div>
            } @empty {
                <div class="alert alert-info mt-3" role="alert">
                    No hay puntos del día para mostrar en este pleno.
                </div>
            }
        </div>
      }
    }
    @case ('consultas') {
      <app-formulario-consultas
        [pleno]="pleno"
      ></app-formulario-consultas>
    }
    @case ('asistentes') {
      <app-formulario-asistentes
        [pleno]="pleno"
      ></app-formulario-asistentes>
    }
  }
}