@if (loading) {
    <lib-ffsj-spinner
        [fullscreen]="true"
    ></lib-ffsj-spinner>
} @else {
    @switch (formShow) {
        @case ('puntoDelDia') {
            <button class="btn btn-primary btn-foc-rojo" (click)="back.emit()">
                <i class="bi bi-chevron-left"></i>
                <span>
                    Volver
                </span>
            </button>
            <form [formGroup]="ordenDiaForm">
                <div class="d-flex flex-column gap-2 scrollable my-3">
            
                    @if (puntoOrdenDelDia !== null) {
                        <div class="form-group">
                          <label for="id">ID:</label>
                          <input type="number" formControlName="id" class="form-control" isDisabled>
                        </div>
                    }

                    <div class="form-group">
                      <label for="titulo">Título:</label>
                      <input type="text" formControlName="titulo" class="form-control">
                    </div>
            
                    <div class="form-group">
                      <label for="texto">Texto:</label>
                      <input type="text" formControlName="texto" class="form-control">
                    </div>
                    
                    <button class="btn btn-primary btn-foc-naranja" (click)="changeFormShow('documentos')" [disabled]="puntoOrdenDelDia === null">
                        Documentos asociados
                    </button>
              
                    <button class="btn btn-primary btn-foc-naranja" (click)="changeFormShow('votaciones')" [disabled]="puntoOrdenDelDia === null">
                        Votaciones asociadas
                    </button>
              
                </div>
            </form>
    
            <div class="d-flex justify-content-between mt-5">
                <button class="btn btn-primary btn-foc-rojo" style="width: 120px;" (click)="procesar(ordenDiaForm)">
                    Confirmar
                </button>

                @if (puntoOrdenDelDia) {
                    <button class="btn btn-primary btn-foc-rojo" style="width: 120px;" (click)="borrarItem()">
                        Eliminar
                    </button>
                }
            </div>
    
        }
        @case ('documentos') {
            <app-formulario-documentos
                [punto]="puntoOrdenDelDia"
                [documentosExistentes]="documentos"
                (back)="changeFormShow('puntoDelDia')"
            ></app-formulario-documentos>
        }
        @case ('votaciones') {
            <app-formulario-votaciones
                [punto]="puntoOrdenDelDia"
                [votaciones]="votaciones"
                (back)="changeFormShow('puntoDelDia')"
            ></app-formulario-votaciones>
        }
    }
}