@if (loading) {
    <lib-ffsj-spinner></lib-ffsj-spinner>
} @else {
    <div class="container d-flex flex-column">
        <span class="h5 mb-3">
            Selecciona un pleno para ver más información.
        </span>
        @for(pleno of plenos; track $index) {
            <div class="card mb-3" (click)="gestionaPleno(pleno.id)">
                <div class="card-body">
                  <h5 class="card-title">{{ pleno.titulo }}</h5>
                  <p class="card-text">{{ pleno.informacion_extra }}</p>
                  <p>{{ pleno.fecha }}</p>
                </div>
            </div>
        } @empty {
            <div class="alert alert-danger" role="alert">
                No hay plenos disponibles para el usuario con id: {{idAsociado}}.
            </div>
        }
    </div>
}
