@if (loading) {
    <lib-ffsj-spinner
        [fullscreen]="true"
    ></lib-ffsj-spinner>
} @else {
    <div class="container">
        @if (idPleno === -1) {
            <div class="d-flex flex-column">
                <span class="h6 mb-3">
                    Elige un pleno para ver su información o editarlo
                </span>
                <app-plenos
                    [seleccionaPleno]="true"
                    (plenoSeleccionado)="plenoSeleccionado($event)"
                ></app-plenos>
            </div>
        } @else if(showMode === 'asamblea'){
            <button class="btn btn-foc-rojo" (click)="showMode = 'resultados'">
                Resultados
            </button>
            <app-orden-dia
                [ordenDia]="ordenDia"
            ></app-orden-dia>
        } @else if(showMode === 'resultados'){
            <app-resultados
            
            ></app-resultados>
        }
    </div>
}
