@if (loading) {
    <lib-ffsj-spinner
        [fullscreen]="true"
    ></lib-ffsj-spinner>
} @else {
    <div class="container h-100">
        @if (idPleno === -1) {
            <div class="d-flex flex-column h-100">
                <span class="h6 mb-3">
                    Elige un pleno para ver su información o editarlo
                </span>
                <app-plenos
                    class="container-size"
                    [seleccionaPleno]="true"
                    (plenoSeleccionado)="plenoSeleccionado($event)"
                ></app-plenos>
            </div>
        } @else if(showMode === 'asamblea'){
            <div class="d-flex gap-3 m-3">
                <button class="btn btn-foc-rojo" (click)="showMode = 'resultados'">
                    Resultados votaciones
                </button>
                <button class="btn btn-foc-rojo" (click)="showMode = 'asistencia'">
                    Informe de asistencia
                </button>
            </div>
            <app-orden-dia
                [ordenDia]="ordenDia"
            ></app-orden-dia>
        } @else if(showMode === 'resultados'){
            <app-resultados
                (close)="showMode = 'asamblea'"
            ></app-resultados>
        } @else if(showMode === 'asistencia'){
            <app-informe-asistencia
                (close)="showMode = 'asamblea'"
            ></app-informe-asistencia>
        }
    </div>
}
