@if (loading) {

} @else {
    <div class="container">
        @if(mostrarFormulario) {
            <app-formulario-pleno
                [pleno]="pleno"
                (back)="mostrarFormularioAction(false)"
            ></app-formulario-pleno>
        } @else {
            <div class="d-flex flex-column">
                <span class="h6 mb-3">
                    Elige un pleno para ver su información o editarlo
                </span>
                <app-plenos
                    [seleccionaPleno]="true"
                    (plenoSeleccionado)="plenoSeleccionado($event)"
                ></app-plenos>
                <div class="position-fixed" style="bottom: 82px; right: 12px;">
                    <button class="btn btn-primary btn-foc-naranja" (click)="mostrarFormularioAction(true)">
                        <i class="bi bi-plus-circle me-2" style="font-size: 1rem;"></i>
                        <span>Nuevo</span>
                    </button>
                </div>
            </div>
        }
    </div>
}
