<div class="container">
    <div class="d-flex flex-column text-center">
        <span class="h2 m-0 text-center">
            {{ordenDia.titulo}}
        </span>
        <span class="h5 text-center">
            Orden del día
        </span>
    </div>
    <hr>
    <div class="puntos-del-dia mb-3">
        @for (punto of ordenDia.puntos; track $index) {
            <div class="card my-3">
                <div class="card-header" (click)="punto.expanded = !punto.expanded">
                    <span class="h4">
                        {{$index+1}} - {{ punto.titulo }}
                    </span>
                </div>
                @if (punto.expanded) {
                    <div class="card-body">
                        @if (!punto.documentacion && !punto.votacion) {
                            <span>
                                No existe información adicional para este punto.
                            </span>
                        } @else {
                            @if (punto.documentacion) {
                                <div class="d-flex flex-column justify-content-center">
                                    <span class="h3">Documentación</span>
                                    <span class="mb-2">
                                        Existe documentación relacionada con este punto. Para consultarla, haga click sobre el botón de cada documento
                                    </span>
                                </div>
                                <hr>
                                <div class="d-flex flex-column">
                                    @for (documento of punto.documentacion; track $index) {
                                        <div class="w-100 d-flex flex-row justify-content-between my-2 align-items-center">
                                            <span>
                                                <i class="bi bi-file-text"></i>
                                                {{documento.titulo}}
                                            </span>
                                            <a href="{{ documento.url }}" target="_blank" class="btn btn-primary px-4"><i class="bi bi-eye-fill me-2"></i>Ver</a>
                                        </div>
                                    }
                                    <hr>
                                    <br>
                                </div>
                            } @else {
                                <div class="d-flex flex-column mb-3">
                                    <span class="h3">Documentación</span>
                                    <span>
                                        No hay documentación para este punto
                                    </span>
                                    <hr>
                                </div>
                            }
                            @for (votacion of punto.votacion; track $index) {
                                <div class="d-flex justify-content-between">
                                    <span>
                                        <strong>
                                            {{votacion.infoExtra}}
                                        </strong>
                                    </span>
            
                                    <button class="btn btn-primary px-4" (click)="openVote(votacion)">
                                        Votar
                                    </button>
                                </div>
                                <div class="d-flex flex-column mt-3">
                                    <div class="d-flex justify-content-between">
                                        <span>A favor: {{votacion.favor}}</span>
                                        <span>En contra: {{votacion.contra}}</span>
                                        <span>Blanco: {{votacion.blanco}}</span>
                                    </div>
                                </div>
                                @if (!$index) {
                                    <hr>
                                    <br>
                                }
                            } @empty {
                                <div class="d-flex flex-column mb-3">
                                    <span class="h3">Votaciones</span>
                                    <span>
                                        No hay votaciones para este punto
                                    </span>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
    <span class="h6 m-0">
        Firmado: {{ordenDia.firma}}
    </span>
</div>
