@if (loading) {
    <lib-ffsj-spinner
        [fullscreen]="true"
    ></lib-ffsj-spinner>
} @else {
    <div class="container">
        <div class="d-flex flex-column gap-3">
            <div class="container-votaciones d-flex gap-2">
                @for (votacion of votaciones; track $index) {
                    <button class="btn btn-foc-naranja" (click)="showResults(votacion)">
                        {{votacion.infoExtra}}
                    </button>
                } @empty {
                    <span class="h6">
                        No hay votaciones
                    </span>
                }
            </div>
            @if (showChart) {
                <span class="h2 w-100 text-center">
                    Votos totales: {{votosTotales}} / Presentes: {{presentes}}
                </span>
            }
            <canvas id="resultsChart"></canvas>
            @if (showChart) {
                <span class="h2 w-100 text-center">
                    Votos
                </span>
                <div class="d-flex justify-content-between">
                    @for (opcion of votacionesResults.opciones; track $index) {
                        <button class="btn btn-foc-naranja" (click)="showVotes = opcion.votantes">
                            {{opcion.opcion}}
                        </button>
                    }
                </div>
                @for (asociacion of showVotes | keyvalue; track $index) {
                    <span class="h4">
                        Asociación {{asociacion.value[0]?.nombreAsociacion || 'Sin Asociación'}}
                    </span>
                    @for(vote of asociacion.value; track $index) {
                        <span>
                            {{vote.nombre}}, {{vote.apellidos}}
                        </span>
                    }
                }
            }
        </div>
    </div>
}