.container-grafico{
    height: 100%;
    width: 100%;
    padding: 0;
    .tapa-creditos{
        width: 100%;
        z-index: 1;
        display: block;
        position: absolute;
        background-color: white;
        height: 4%;
        bottom: 0%;
    }
    .canva-graph{
        width: 100%;
        height: 100%;
        background-color: transparent;

        .canva-item {
            height: 100%;
            width: 100%;
            display: flex;
            #canvasjs-angular-chart-container-0, 
            #canvasjs-angular-chart-container-1, 
            #canvasjs-angular-chart-container-2,
            #canvasjs-angular-chart-container-3,
            #canvasjs-angular-chart-container-4,
            #canvasjs-angular-chart-container-5,
            #canvasjs-angular-chart-container-6 {
                height: 100% !important;
                div.canvasjs-chart-container{

                    div.canvas.canvasjs-chart-canvas{
                    }
                }
            }
        }

    }
}


